 .portlet
{

}

.portlet-decoration
{
	border: 1px solid black;
	padding: 3px 8px;
	background: url(../images/bgportlet.png);
}

.portlet-title
{
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
  
.portlet-content
{
	border: 1px solid black;
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.post
{
	margin: 0 0 20px;
}

.post .title
{
	border: 1px solid black;
	padding: 5px;
	background: #ddd;
	margin: 5px 0px;
	font-size: 20px;
}

.post .title a
{
	display: block;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.post .title h1
{
	font-size:20px;
	margin: 3px 0px;
}

.post .content
{
	font-size: 20px;
	padding-top: 10px;
	color: black;
	line-height: 130%;
}

.post .content img
{
	max-width: 100%;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #EFFDFF;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
	font-size: 14px;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .author a
{
	font-weight: bold;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	font-size: 18px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}

.comment h3
{
 	margin-bottom: 0px;
	display: inline-block;
	font-size: 15px;	
}

.avatar
{
	border: 1px solid black;
	width: 48px;
	height: 48px;
}

.fieldset {
    border: 1px solid silver;
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
}
.fieldset > h2 {
    font: 1em normal;
    margin: -1em -0.5em 0;
}   
.fieldset > h2 > span {
    float: left;
}
.fieldset > h2:before {
    border-top: 1px solid silver;
    content: ' ';
    float: left;
    margin: 0.5em 2px 0 -1px;
    width: 0.75em;
}
.fieldset > h2:after {
    border-top: 1px solid silver;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
}

.add
{
    background: url(../images/add.png) no-repeat;
    cursor:pointer;
    border: none;
    width:20px;
    height:20px;
}
.remove
{
    background: url(../images/remove.png) no-repeat;
    cursor:pointer;
    border: none;
    width:20px;
    height:20px;
}

.btncreate {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btncreate:hover {
  color: white;
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btncreate:visited {
  color: white;
}

@media all and (max-width: 700px) 
{   
	#blogcontent
	{
		float: none;
		min-width: 100%;
	}
	#blogsidebar
	{
		float: none;
		min-width: 95%;
		padding:10px;
	}
}

@media all and (max-width: 550px) 
{   
	 .comment
	 {
	 	word-break: break-all;
	 }
}	
