
.border{border:1px solid #ccc}
.rounded {-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}


/* GridView */
.grid-view-loading
{
	background:url('images/loading.gif') no-repeat;
}

li.page, li.next, li.previous {margin:0}

.grid-view table.items
{
	border-collapse: collapse;
	width: 100%;
	border: 0 none !important;
}

.grid-view table.items th
{
	border-bottom:1px solid #ddd;
	background:transparent;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.7em;
	padding: 0.3em;
}

.grid-view table.items td
{
	word-break: break-all;
}

.grid-view table.items th a
{
	color: #555;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	/*color: #fff;*/
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

/*.grid-view table.items tr.even*/
tr.even
{
	background: #fff;
}

/*.grid-view table.items tr.odd*/
tr.odd
{
	background: #f3f3f3;
}

.grid-view table.items tr.selected
{
	background:#9eec55;
}

.grid-view table.items tr:hover td, .grid-view table.items tr:hover td a
{
	background:#e58616;
	color:#fff;
	font-weight: 700;
}


/*.grid-view .link-column img
{
    border: 0;
}*/

/*.grid-view .button-column img
{
    border: 0;
}*/


.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .checkbox-column
{
	width: 15px;
}

/*.grid-view .summary*/
div.summary
{
	margin: 0 0 5px 0;
	text-align: right;
	font-size:0.8em
}

/*.grid-view .pager*/
div.pager
{
	margin: 5px 0 0 0;
	text-align: center;
	padding:0;
	height:30px;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}


/* Styles for ClinkPager */
ul.yiiPager
{
	font-size:.9em;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #ccc;
	color:inherit;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius: 3px;
}

ul.yiiPager .page a
{
	font-weight: 600;
}

ul.yiiPager a:hover
{
	background:#e58616;
	color:#fff;
}

ul.yiiPager .selected a
{
	background:#e58616;
	color:#fff;
	font-weight:bold;
	font-size:1.3em;
}

ul.yiiPager .hidden a
{
	border:1px solid #ccc;
	color:inherit;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

div.demo_box{
	background: transparent url('images/bg.gif') repeat scroll left top;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

div.grid-view {
	background:#f3f3f3;
	border:1px solid #ccc;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	padding:5px;
}


	@media 
	all and (max-width: 950px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%;
			min-width: 100%;
		}
		
		td:before { 
			/* Now like a table header */
			/*position: absolute;*/
			/* Top/left values mimic padding */
			top: 6px;
			left: 100px;
			width: 45%; 
			padding-right: 30px; 
			font-weight:bold;
		}
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media all
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}