body
{
	margin: 0;
	padding: 0;
	color: #555;
	background-color: silver;
}

html {font-size:100.01%;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:1.8em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.5em;margin-bottom:0.75em;}
h3 {font-size:1.3em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.1em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
hr {background:#ddd;color:black;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:black;visibility:hidden;}
a:hover{color:orange;}


#main-flagsdiv
{
	padding:10px;
	font-size:12px;
	float:left;	
}


#main-logo
{	
	padding: 10px 20px 0px 20px;
	font-size: 50px;
	float:left;
}

#main-header
{
	background-size: 100% 100%;	
	margin: 0;
	padding: 0;
	background: linear-gradient(goldenrod, gold);
}

#main-footer
{
	padding: 20px;
	background: #111111;
	color: white;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid black;
}

#main-footer a
{
	color: white;
}

#main-page
{
	margin:0 auto;
	width:95%;
	margin-top: 10px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid black;
}


.selectnav
{
	width: 200px;
}

.flag
{
	margin:3px;
	border:1px solid gray;
}

.selectedflag
{
	border:3px solid black;
}


.clear
{
	clear: both;	
}

.inputtext
{
 	width: 400px;
}

#content
{
    padding: 20px;
}

.bigbutton
{
	width: 200px;
	height: 50px;	
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}


@media all and (min-width: 900px) 
{   
	.selectnav { display: none; }
}

@media all and (max-width: 550px) 
{   
	 .inputtext
	 {
	 	width: 100%;
	 } 
}

@media all and (max-width: 900px) 
{
	 #myslidemenu { display: none; }   
}